.search-txt {
  color: white;
  outline: none;
  font-size: 18px;
  background-color: transparent;
  border-radius: 40px;
  font-variant: none;
  font-family: "Myriad Pro Regular";
  height: 60px;
  width: 300px;
  padding: 0 30px;
  border: solid 2px white;
}

.search-txt::placeholder {
  color: gray;
  opacity: 1;
}

.search-btn {
  margin-left: -50px;
  background: transparent;
}

.search-btn:hover {
  cursor: pointer;
}

.fa-search {
  color: white;
  size: 124px 124px;
}

.search-box {
  margin-bottom: 60px;
  margin-top: 200px;
}
